name: CI - core-utils

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-test-lint:
    name: Run core-utils Test Suite on Node ${{matrix.node}}
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node: ['10', '12', '14']

    steps:
      - uses: actions/checkout@v2

      - name: Setup node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      # START DEPENDENCY CACHING
      - name: Cache deps
        uses: actions/cache@v1
        id: cache_core-utils
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ matrix.node }}-${{ hashFiles('package.json') }}
      # END DEPENDENCY CACHING
      
      - name: Install Dependencies
        run: yarn install

      - name: Lint
        run: yarn lint

      - name: Build
        run: |
          yarn clean
          yarn build
      - name: Test
        run: yarn test
